body {
    font-family: Verdana, Helvetica, sans-serif;
    background: url('grain.png') repeat top center;
    padding: 10px;
}

.jumbotron{
    padding: 15px;
	background-color: lightskyblue;
	color: white;
    margin-bottom: 60px;
}

/* instafeed */
.feed-image{
	border: 1px solid black;
    display: inline-block;
    border-radius: 4px;
   /* position: relative;*/
   /* max-height: 123px; */
    box-shadow: 0px 0px 7px 2px grey;
}

.popover{
    max-width: 500px;
    color: black;
    font-size: 14px;
}

.create-addon{
    min-width: 165px;
}

.white-addon{
    background-color: white;
}

.input-group{ 
    font-size: 14px !important;
}

.sep-btn{
    min-width: 200px;
}

